html {
    height: 500%;
}

body {
    background-image: url(/Users/siranaba/Desktop/web-developer-pratice-folder/adjuster/src/images/Snip-2019-09-03-15.25.49.png);
    background-size: cover;
    width: 100%;
    height: 100 vh;
}